.heroContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 97px 20px;
}
.text {
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 600;
  font-family: "Poppins", sans-serif ;
  margin: 0px;
}
.heroImage {
  width: 212px;
  height: 212px;

}