.hero {
  background-color: #121212;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  gap: 30px;  /* row gap between both the rows and columns */
}

