.slideDirection {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.carouselSection {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  left: 60px;
}

.left, .right {
  position: absolute;
  top: 40%;
}

.left {
  left: 0;
}

.right {
  right: 0;
}